body{
  font-family: sans-serif;
  font-weight: bolder;
  background: linear-gradient(45deg, rgb(253, 251, 251), rgb(188, 180, 180));
  /* background-image: url('https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg?auto=compress&cs=tinysrgb&w=1600') */

};